<h1>
  {{title}}
</h1>

<article>
  <h3>Class e Style binding</h3>
  <div>
    Selecione uma classe:
    <select #classe (change)="0">
      <option value = "alert-success">Sucesso</option>
      <option value = "alert-info">Info</option>
      <option value = "alert-warning">Warning</option>
      <option value = "alert-danger">Erro</option>
    </select>
  </div>
</article>
<div class="alert {{classe.value}}" role="alert" >Texto colorido</div>
<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
<div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
<div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

<div class="alert-danger" role="alert" [style.display]="classe.value=='alert-danger' ? 'block':'none'">
  Esse texto aparece somente em caso de erro
</div>
<br>
<br>
<br>
<section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        <div>
          <button (click) = "onClick()">Me Clique</button>
          <br><br>
          <input type="text"
          (keyup)="onKeyUp($event)"
          (keyup.enter)="onSave($event.target.value)"
          (blur)="onSave(campo.value)"
          #campo
          >

          <div>Conteúdo atual: {{conteudoAtual}}</div>
          <div>Conteúdo salvo: {{conteudoSalvo}}</div>
           <span
              (mouseover)="onMouseSpan()"
              (mouseout)="onMouseSpan()"
              [class.highlight]="isMouseOver"
            >
            Passe o mouse sobre mim
          </span>

        </div>
    </article>
</section>
<br><br>


<section>
  <article>
    <h3>Two-waty data binding</h3>
    <div>
      <p>Você digitou {{ nome }}</p>
      <input type="text"
        [(ngModel)]="nome">
    </div>

      <div>
          Meu nome é {{ pessoa.primeiroNome }} e tenho {{ pessoa. idade }} anos de idade.
          <input type="text" [(ngModel)]="pessoa.primeiroNome"  />
          <input type="text" [(ngModel)]="pessoa.idade"  />
        </div>
  </article>
</section>

<curso [nome] ="nomeCurso"></curso>
<br><br>
<contador [valor] ="valorInicial" (mudouValor)="onValorMudou($event)"></contador>

      <lifecycle [valorInicial]="valorInicial" *ngIf="deletarConteudo != true"></lifecycle>
      <button (click)="valorInicial = 20">Mudar o valor</button>
      <button (click)="deletarConteudo = true">Deletar tag life cycle</button>
